:root {
  --bodyBg: #fff;
  --cardHeading: #3d495f;
  --testimonialHeading: #202631;
  --conainerBg: #f3f8fe;
  --cardcontent: #646d7f;
  --imageBorder: #a6aaaf;
  --cardFooter: #0a1c36;
  --primaryFont: "Times New Roman", Times;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times;
}
